<% content_for(:title, "SOC queue") %>

<p>
  <%= link_to "New Ticket", new_ticket_path, class: "ghost-button", id: "new_link", remote: true %>
</p>

<section>
    <h3>Active Tickets</h3>
    <div class="row" id="incomplete_tickets">
      <%= render @incomplete_tickets %>
    </div>
</section>

<section>
    <h3>Completed Tickets</h3>
    <div class="row" id="complete_tickets">
      <%= render @complete_tickets %>
    </div>
</section>
