body {
  color: #666;
  font-family: 'Droid Sans', sans-serif;
  font-size: 14px;
  text-shadow: 1px 1px 0px #fff;
  background-color: #fafafa;
  /*background-image: url('little_triangles_grayscale.png');*/
}

a:link,
a:active,
a:visited {
  color: #003222;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
  text-decoration: underline;
}

h1 {
  color: #003222;
  font-family: 'Droid Serif', serif;
  font-weight: bold;
  font-style: italic;
  font-size: 35px;
  text-shadow: 1px 1px 3px #111;
  padding-bottom: 20px;
}

h3 {
  color: #666;
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
  font-style: italic;
  text-shadow: 1px 1px 0px #fff;
  padding: 18px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #e0e0e0;
  background: #ededed;
}

header {
  text-align: center;
  background-image: url('little_triangles.png');
}

#logo {
  width: 121px;
  height: 104px;
  margin: 25px auto 10px;
}

main {
  margin: 0 auto;
  max-width: 75em;
}

section {
  margin: 0 auto;
  max-width: 75em;
}

#button_ticket {
  text-align: center;
}

#table {
  margin: 0 5em 5em;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.ghost-button {
  display: inline-block;
  width: 200px;
  margin: 30px 0;
  padding: 20px;
  font-weight: bold;
  font-size: 16px;
  color: #003222;
  border: 2px solid #003222;
  border-radius: 3px;
  text-shadow: none;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s,
              color 0.2s;
}

.ghost-button:hover,
.ghost-button:active {
  text-decoration: none;
  background-color: #003222;
  color: #fff;
}

form {
  padding: 18px;
}

#table form {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #e0e0e0;
  background: #fafafa;
}

#table form:hover {
  background: #f2f2f2;
}

h3:first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

#complete_tickets>form:last-of-type {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
